
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        width: 160px;
        display: block;
        text-align: center;
        background-color: transparent;
        z-index: 1;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
@media (max-width:768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
    }
}
@media (max-width:992px) {
    .control {
     background-color: rgba(255, 255, 255, 0.3);
     margin: 0;
}

}
.carousel-caption>h1>.highlight {
    font-weight: bold;
    background-color:white;
    color:#575B5B;
    line-height:2;
        letter-spacing: 5px;
}
.control {
     background-color: rgba(255, 255, 255, 0.6);
     margin: 0;
}
.carousel-control>i {
    font-size: 80px;
}
@media (max-width:992px) {
    .carousel-control>i {
    font-size: 50px;
}

}
.line {

    margin-left: 130;
     margin-right: 180;
     height: 30px; 
     border-bottom: 2px solid #FEC830;
     text-align: center;
}
.line>span{
      font-weight: bold;
      padding: 5px;
    background-color:#FEC830;
    color:#575B5B;
    line-height:2;
     font-size: 2em;
        letter-spacing: 5px;
        text-align: center;
}
@media (min-width:354px) {
    .line {
    margin-left: 140;
     margin-right:140;
     height: 24px; 
     border-bottom: 2px solid #FEC830;
     text-align: center;
}
.line>span{
      font-weight: bold;
      padding: 5px;
    background-color:#FEC830;
    color:#575B5B;
    line-height:2;
     font-size: 24px;
        letter-spacing: 5px;
        text-align: center;
}
.card-date {
    text-transform:uppercase;
    letter-spacing:2px;
    color: #575B5B;
}
.card-date a{
color:#FEC830;
font-weight:bold;
letter-spacing:2px;
font-size:10px;
text-decoration:none;
text-transform:uppercase;
transition:0.3s;
}
.card-date a:hover{
color:#D59F06;
font-weight:bold;
letter-spacing:2px;
font-size:10px;
text-decoration:none;
text-transform:uppercase;
}
.card-title {
    text-transform:uppercase;
}
.card-title a{
    color:#575B5B;
    font-weight:bold;
    letter-spacing:4px;
    text-decoration:none;
    font-size:20px;
    transition:0.3s;
}
.card-title a:hover{
    color:#FEC830;
    font-weight:bold;
    letter-spacing:4px;
    text-decoration:none;
    font-size:20px;
}
.prev:hover, .next:hover, .prev-event:hover, .next-event:hover, .prev-article:hover, .next-article:hover {
      color:#FEC830;
}
.line-left {

    margin-left: 130;
     margin-right: 180;
     height: 30px; 
     border-bottom: 2px solid #FEC830;
     text-align: center;
}
.line-left>span{
      font-weight: bold;
      padding: 5px;
    background-color:#FEC830;
    color:#575B5B;
    line-height:2;
     font-size: 2em;
        letter-spacing: 5px;
        text-align: center;
}
.line-right {

    margin-left: 130;
     margin-right: 180;
     height: 30px; 
     border-bottom: 2px solid #FEC830;
     text-align: center;
}
.line-right>span{
      font-weight: bold;
      padding: 5px;
    background-color:#FEC830;
    color:#575B5B;
    line-height:2;
     font-size: 2em;
        letter-spacing: 5px;
        text-align: center;
}
@media (max-width:360px) {
  .card-img-low  {
    height: 128px;

}
.card-link-second {
    text-align: center;
}
}
.static-fitment{
    height: 256px;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.hero-text {
     text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.highlight-yellow {
     font-weight: bold;
    background-color:#FEC830;
    color:white;
     font-size: 2em;
     padding: 5px;
    line-height:2px;
        letter-spacing: 5px;
}
@media (max-width:480px) {
.hero-text>span {
     font-weight: bold;
    background-color:#FEC830;
    color:white;
     font-size: 10px;
     padding: 5px;
    line-height:2px;
        letter-spacing: 5px;
}
}
@media (max-width:768px) {
.static-fitment{
    height: 128px;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    width: auto;

}
}
.gallery-image{
    height: 256px;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
@media (max-width:768px) {
.gallery-image{
    height: 128px;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    width: auto;

}
}
.title-footer {
    font-family: Roboto,sans serif;
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    float: center;
    color: #575B5B;
}
.title-link a{
    text-decoration: none;
    margin: 0;
    color: #575B5B;
}
.title-link a:hover{
    color: white;
    margin: 0;
}
.footer-content{
    font-family: Roboto,sans serif;
    font-size: 14px;
    font-weight: bold;
    float: center;
    color: #575B5B;
}
.footer-content a {
    letter-spacing: 5px;
    text-transform: uppercase;
}
.article-title h1{
    letter-spacing: 5px;
    text-transform: uppercase;
    width:80%;
}
@media (max-width:960px) {
  .article-title h1{
    letter-spacing: 5px;
    text-transform: uppercase;
    width:80%;
    font-size: 18px;
}
}
.text-responsive h1{
    letter-spacing: 5px;
    font-size: 16px;
}
@media (max-width:960px) {
  .text-responsive h1{
   font-size: 14px;
  }
}
}
.text-yellow {
    color: #FEC830;
}
.kapital {
    text-transform: uppercase;
    letter-spacing: 3px;
}
.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.text-ellipsis{
    text-overflow:ellipsis;
}
.middle i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}